<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Centro Ortopédico Ingá</title>
	<link rel="stylesheet" href="themes/base/jquery.ui.all.css"/>
	<link rel="stylesheet" href="themes/smoothness/jquery-ui.css"/>
	<link rel="stylesheet" href="css/global.css"/>
	<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="js/ui/jquery-ui.js"></script>
	<script type="text/javascript" src="js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="js/noty/layouts/top.js"></script>
	<script type="text/javascript" src="js/noty/layouts/center.js"></script>
	<script type="text/javascript" src="js/noty/themes/default.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	<script type="text/javascript" src="js/backbone.marionette.js"></script>
	<script type="text/javascript" src="js/Backbone.ModelBinder.js"></script>
	<script type="text/javascript" src="js/backbone.paginator.js"></script>
	<script type="text/javascript" src="js/deep-model.js"></script>
	<script type="text/javascript" src="js/autoNumeric.js"></script>
	<script type="text/javascript" src="js/jquery.fileupload.js"></script>
	<script type="text/javascript" src="js/coi-utils.js"></script>
	<script type="text/javascript" src="js/coi.js"></script>
	<script type="text/javascript" src="js/coi-categorias.js"></script>
	<script type="text/javascript" src="js/coi-categoria.js"></script>
	<script type="text/javascript" src="js/coi-pessoas.js"></script>
	<script type="text/javascript" src="js/coi-pessoa.js"></script>
	<script type="text/javascript" src="js/coi-entradas.js"></script>
	<script type="text/javascript" src="js/coi-entrada.js"></script>
	<script type="text/javascript" src="js/coi-cheques.js"></script>
	<script type="text/javascript" src="js/coi-cheque.js"></script>
	<script type="text/javascript" src="js/coi-laudos.js"></script>
	<script type="text/javascript" src="js/coi-laudo.js"></script>
	<script type="text/javascript" src="js/coi-estoque.js"></script>
	<script type="text/javascript" src="js/coi-movimento.js"></script>
	<script type="text/javascript" src="js/coi-pagamentos.js"></script>
	<script type="text/javascript" src="js/coi-pagamento.js"></script>
	<script type="text/javascript" src="js/coi-pagamentos-categorias.js"></script>
	<script type="text/javascript" src="js/coi-pagamentos-categoria.js"></script>
	<script type="text/javascript" src="js/coi-fechamentos.js"></script>
	<script type="text/javascript" src="js/coi-fechamento.js"></script>
	<script type="text/javascript" src="js/coi-start.js"></script>
	
	<script type="text/template" id="coi_view_text_template">
<dt><%= label %></dt>
<dd><input type="text" name="<%= name %>"/></dd>
	</script>
	<script type="text/template" id="coi_view_textarea_template">
<dt><%= label %></dt>
<dd><textarea name="<%= name %>"></textarea></dd>
	</script>
	<script type="text/template" id="coi_grid_view_template">
<header><%= header %></header>
<div style="display: none" class="coi-paginator"/>
<!-- div class="coi-paginator">
	<input type="text" class="coi-input-search"/>
	<button class="coi-action-search">Pesquisar</button>
	<button class="coi-action-clear">Limpar</button>
	<button class="coi-action-prev">Anterior</button>
	<button class="coi-action-prox">Próxima</button>
</div -->
<table>
	<thead>
		<tr>
			<% _.each(columns, function(column) { %>
			<th><%= column %></th>
			<% }) %>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
<footer>
	<button class="coi-action-cancel">Voltar</button>
	<button class="coi-action-create">Adicionar</button>
</footer>
	</script>
	<script type="text/template" id="coi_view_pessoa_template">
<div class="coi-view-pessoa">
	<dl class="coi-form-item">
		<dt><%= label %></dt>
		<dd>
			<input type="text" name="nome" class="coi-view-pessoa-nome"/>
		</dd>
	</dl>
</div>
<div class="coi-view-pessoa-new coi-form-item">
	<header>Novo <%= label %></header>
	<dl class="coi-form-item">
		<dt>Código:</dt>
		<dd>
			<input type="text" name="codigo" class="coi-view-pessoa-new-codigo"/>
		</dd>
	</dl>
	<dl class="coi-form-item">
		<dt>Nome:</dt>
		<dd>
			<input type="text" name="nome" class="coi-view-pessoa-new-nome"/>
		</dd>
	</dl>
	<div>
		<button class="coi-action-cancel">Cancelar</button>
	</div>
</div>
	</script>
	
	<script type="text/template" id="index_template">
<button id="categorias">Categorias</button>
<button id="pessoas">Pessoas</button>
<button id="entradas">Entradas</button>
<button id="cheques">Cheques</button>
<button id="laudos">Laudos</button>
<button id="estoque">Estoque</button>
<button id="pagamentos">Pagamentos</button>
	</script>
	<script type="text/template" id="categoria_row_template">
<td><%= descricao %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="categoria_template">
<header>Categoria</header>
<div class="coi-view-text" data-label="Descrição:" data-attribute="descricao" data-required="true"/>
<div id="produtos"/>
<div id="comissoes"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="categoria_produtos_template">
<dt>Produtos:</dt>
<dd>
	<table>
		<thead>
			<tr>
				<th>Código</th>
				<th>Descrição</th>
				<th>Custo</th>
				<th>Preço</th>
				<th>Ações</th>
			<tr>
		</thead>
		<tbody/>
	</table>
</dd>
	</script>
	<script type="text/template" id="categoria_comissoes_template">
<dt>Comissões:</dt>
<dd>
	<input type="text" id="parte"/>
	<button class="coi-action-include">Adicionar</button>
	<table/>
</dd>
	</script>
	<script type="text/template" id="categoria_comissao_template">
<td class="coi-row-label"><%= parte %>:</td>
<td class="coi-row-item">
	<input type="text" name="porcentagem" placeholder=" porcentagem"/>
</td>
<td class="coi-row-item">
	<button class="coi-action-remove">Remover</button>
</td>
	</script>
	<script type="text/template" id="categoria_produtos_row_template">
<td><%= codigo %></td>
<td><%= descricao %></td>
<td><%= decimalConverter('ModelToView', custo) %></td>
<td><%= decimalConverter('ModelToView', preco) %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="categoria_produto_template">
<div class="coi-view-text" data-attribute="codigo" data-label="Código:" data-required="true"/>
<div class="coi-view-text" data-attribute="descricao" data-label="Descrição:" data-required="true"/>
<div class="coi-view-text" data-attribute="custo" data-label="Custo:" data-required="true"/>
<div class="coi-view-text" data-attribute="preco" data-label="Preço:" data-required="true"/>
<dl class="coi-form-item">
	<dt>Estocável</dt>
	<dd>
		<input type="checkbox" name="estocavel" />
	<dd>
</dl>
	</script>
	<script type="text/template" id="pessoas_import_template">
<style>
.bar {
    height: 18px;
    background: green;
}
</style>
<input id="file" type="file" name="file">
<div id="files"/>
<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>
	</script>
	<script type="text/template" id="pessoa_row_template">
<td><%= nome %></td>
<td><%= codigo %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="pessoa_template">
<header>Pessoa</header>
<div class="coi-view-text" data-attribute="codigo" data-label="Código:" data-required="true"/>
<div class="coi-view-text" data-attribute="nome" data-label="Nome:" data-required="true"/>
<div id="partes"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="entrada_row_template">
<td><%= timestampConverter('ModelToView', data) %></td>
<td><%= cliente %></td>
<td><%= decimalConverter('ModelToView', valor) %></td>
<td><%= tipo %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="entrada_template">
<header>Entrada</header>
<div class="coi-view-text" data-attribute="data" data-label="Data:" data-required="true"/>
<div id="paciente"/>
<div id="produtos"/>
<div id="partes"/>
<div id="meio-pagamento"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="entrada_meio_pagamento_template">
<dl class="coi-form-item">
	<dt><%= label %></dt>
	<dd>
		<select name="<%= name %>">
			<option/>
			<% _.each(tipos_list, function(tipo) { %>
			<option><%= tipo %></option>
			<%}); %>
		</select>
	<dd>
</dl>
<dl class="coi-form-item">
	<dd>
		<button class="coi-action-create">Adicionar</button>
	</dd>
</dl>
<div id="cheques"/>
	</script>
	<script type="text/template" id="entrada_meio_pagamento_cheque_template">
<header>Novo Cheque</header>
<div data-attribute="numero" class="coi-view-text" data-label="Numero:" data-required="true"/>
<div data-attribute="conta" class="coi-view-text" data-label="Conta:" data-required="true"/>
<div data-attribute="agencia" class="coi-view-text" data-label="Agência:" data-required="true"/>
<div data-attribute="banco" class="coi-view-text" data-label="Banco:" data-required="true"/>
<div data-attribute="documento" class="coi-view-text" data-label="CPF/CNPJ:" data-required="true"/>
<div data-attribute="valor" class="coi-view-text" data-label="Valor:" data-required="true"/>
<div data-attribute="dataDeposito" class="coi-view-text" data-label="Data:" data-required="true"/>
<div data-attribute="observacao" class="coi-view-textarea" data-label="Observação:"/>
<div id="emissor"/>
<div>
	<button class="coi-action-remove">Remover</button>
</div>
	</script>
	<script type="text/template" id="entrada_produtos_template">
<dt><%= label %></dt>
<dd>
	<input type="text" class="coi-view-produto"/>
	<button class="coi-action-include">Adicionar</button>
</dd>
<table>
	<thead>
		<tr>
			<th>Código</th>
			<th>Descrição</th>
			<th>Preço</th>
			<th>Desconto</th>
			<th>Quantidade</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
	</script>
	<script type="text/template" id="entrada_produto_template">
<td class="coi-row-item"><%= codigo %></td>
<td class="coi-row-item"><%= descricao %></td>
<td class="coi-row-item"><%= decimalConverter('ModelToView', preco) %></td>
<td class="coi-row-item"><input class="coi-short-text" type="text" name="desconto"/></td>
<td class="coi-row-item"><input class="coi-short-text" type="text" name="quantidade"/></td>
<td class="coi-row-item">
	<button class="coi-action-remove">Remover</button>
</td>
	</script>
	<script type="text/template" id="entrada_partes_template">
<dl class="coi-form-item">
	<dt>Partes:</dt>
	<dd>
		<input type="text" id="parte"/>
		<button class="coi-action-include">Adicionar</button>
	</dd>
</dl>
<div id="partes-itens" class="coi-form-item"/>
	</script>
	<script type="text/template" id="entrada_parte_template">
<div class="coi-view-pessoa"/>
<dl class="coi-form-item">
	<dd>
		<button class="coi-action-remove">Remover</button>
	</dd>
</dl>
	</script>
	<script type="text/template" id="cheque_row_template">
<td><%= paciente %></td>
<td><%= dateConverter('ModelToView', data) %></td>
<td><%= decimalConverter('ModelToView', valor) %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="cheque_template">
<header>Cheque</header>
<div data-attribute="numero" class="coi-view-text" data-label="Numero:" data-required="true"/>
<div data-attribute="conta" class="coi-view-text" data-label="Conta:" data-required="true"/>
<div data-attribute="agencia" class="coi-view-text" data-label="Agência:" data-required="true"/>
<div data-attribute="banco" class="coi-view-text" data-label="Banco:" data-required="true"/>
<div data-attribute="documento" class="coi-view-text" data-label="CPF/CNPJ:" data-required="true"/>
<div data-attribute="valor" class="coi-view-text" data-label="Valor:" data-required="true"/>
<div data-attribute="dataDeposito" class="coi-view-text" data-label="Data:" data-required="true"/>
<div data-attribute="observacao" class="coi-view-textarea" data-label="Observação:"/>
<div id="emissor"/>
<div id="beneficiario"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="laudo_row_template">
<td><%= paciente %></td>
<td><%= dateConverter('ModelToView', data) %></td>
<td><%= status %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
	<button class="coi-action-print">Imprimir</button>
</td>
	</script>
	<script type="text/template" id="laudo_template">
<header>Laudo</header>
<div data-attribute="data" class="coi-view-text" data-label="Data:" data-required="true"/>
<div id="medico"/>
<div id="paciente"/>
<dl class="coi-form-item">
	<dt>Status Hormonal:</dt>
	<dd>
		<select name="status">
			<option/>
			<option>Pré-Menopausal</option>
			<option>Pós-Menopausal</option>
			<option>Transição Menopausal</option>
		</select>
	<dd>
</dl>
<dl class="coi-form-item">
	<dt>Sexo:</dt>
	<dd>
		<select name="sexo">
			<option/>
			<option>Feminino</option>
			<option>Masculino</option>
		</select>
	<dd>
</dl>
<div data-attribute="dataNascimento" class="coi-view-text" data-label="Data de Nascimento:" data-required="true"/>
<div id="exame"/>
<dl class="coi-form-item">
	<dt>Conclusão:</dt>
	<dd>
		<select name="conclusao">
			<option/>
			<option value="Normal">1 - Normal</option>
			<option value="Osteopenia">2 - Osteopenia</option>
			<option value="Osteoporose">3 - Osteoporose</option>
			<option value="Dentro do eperado para a idade">4 - Dentro do eperado para a idade</option>
			<option value="Baixa densidade óssea para a idade">5 - Baixa densidade óssea para a idade</option>
		</select>
	<dd>
</dl>
<dl class="coi-form-item">
	<dt>Observações:</dt>
	<dd>
		<select id="observacoes"></select>
		<button id="adicionar-observacao" class="coi-action-include">Incluir</button>
		<table id="observacoes-list"/>
	<dd>
</dl>
<dl class="coi-form-item">
	<dt>Comparação com exames anteriores:</dt>
	<dd>
		<select id="comparacoes"></select>
		<button id="adicionar-comparacao" class="coi-action-include">Incluir</button>
		<table id="comparacoes-list"/>
	<dd>
</dl>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="exame_pos_menopausa_template">
<dl class="coi-form-item">
	<dt>Exame:</dt>
	<dd>
		<table>
			<thead>
				<tr>
					<th width="50%">Local</th>
					<th>Densidade</th>
					<th>T-score</th>
					<th>Z-score</th>
				</tr>
			</thead>
			<tbody>
				<tr class="coi-cell-item">
					<td>
						<span>Coluna Lombar</span>
						<div>
							<label><input type="checkbox" name="colunaLombarL1"> L1</label>
							<label><input type="checkbox" name="colunaLombarL2"> L2</label>
							<label><input type="checkbox" name="colunaLombarL3"> L3</label>
							<label><input type="checkbox" name="colunaLombarL4"> L4</label>
						</div>
					</td>
					<td><input type="text" name="colunaLombarDensidade"/></td>
					<td><input type="text" name="colunaLombarTScore"/></td>
					<td><input type="text" name="colunaLombarZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Colo Fêmur</td>
					<td><input type="text" name="coloFemurDensidade"/></td>
					<td><input type="text" name="coloFemurTScore"/></td>
					<td><input type="text" name="coloFemurZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Fêmur Total</td>
					<td><input type="text" name="femurTotalDensidade"/></td>
					<td><input type="text" name="femurTotalTScore"/></td>
					<td><input type="text" name="femurTotalZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Rádio 33%</td>
					<td><input type="text" name="radioTercoDensidade"/></td>
					<td><input type="text" name="radioTercoTScore"/></td>
					<td><input type="text" name="radioTercoZScore"/></td>
				</tr>
			</tbody>
		</table>
	<dd>
</dl>
	</script>
	<script type="text/template" id="exame_pre_menopausa_template">
<dl class="coi-form-item">
	<dt>Exame:</dt>
	<dd>
		<table>
			<thead>
				<tr>
					<th width="60%">Local</th>
					<th>Densidade</th>
					<th>Z-score</th>
				</tr>
			</thead>
			<tbody>
				<tr class="coi-cell-item">
					<td>
						<span>Coluna Lombar</span>
						<div>
							<label><input type="checkbox" name="colunaLombarL1"> T1</label>
							<label><input type="checkbox" name="colunaLombarL2"> T2</label>
							<label><input type="checkbox" name="colunaLombarL3"> T3</label>
							<label><input type="checkbox" name="colunaLombarL4"> T4</label>
						</div>
					</td>
					<td><input type="text" name="colunaLombarDensidade"/></td>
					<td><input type="text" name="colunaLombarZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Colo Fêmur</td>
					<td><input type="text" name="coloFemurDensidade"/></td>
					<td><input type="text" name="coloFemurZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Fêmur Total</td>
					<td><input type="text" name="femurTotalDensidade"/></td>
					<td><input type="text" name="femurTotalZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Rádio 33%</td>
					<td><input type="text" name="radioTercoDensidade"/></td>
					<td><input type="text" name="radioTercoZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Corpo Inteiro</td>
					<td><input type="text" name="corpoInteiroDensidade"/></td>
					<td><input type="text" name="corpoInteiroZScore"/></td>
				</tr>
			</tbody>
		</table>
	<dd>
</dl>
	</script>
	<script type="text/template" id="estoque_row_template">
<td><%= dateConverter('ModelToView', data) %></td>
<td><%= tipo %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="movimento_template">
<header>Movimento</header>
<dl class="coi-form-item">
	<dt>Tipo:</dt>
	<dd>
		<select id="tipo" name="tipo">
			<option/>
			<option>Entrada</option>
			<option>Baixa</option>
		</select>
	<dd>
</dl>
<div class="coi-view-text" data-attribute="data" data-label="Data:" data-required="true"/>
<div id="produtos"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="movimento_produtos_template">
<dt><%= label %></dt>
<dd>
	<input type="text" class="coi-view-produto"/>
	<button class="coi-action-include">Adicionar</button>
</dd>
<table>
	<thead>
		<tr>
			<th>Código</th>
			<th>Descrição</th>
			<th>Quantidade</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
	</script>
	<script type="text/template" id="movimento_produto_template">
<td class="coi-row-item"><%= codigo %></td>
<td class="coi-row-item"><%= descricao %></td>
<td class="coi-row-item"><input type="text" name="quantidade"/></td>
<td class="coi-row-item">
	<button class="coi-action-remove">Remover</button>
</td>
	</script>
	<script type="text/template" id="pagamento_row_template">
<td><%= dateConverter('ModelToView', vencimento) %></td>
<td><%= categoria %></td>
<td><%= descricao %></td>
<td><%= decimalConverter('ModelToView', valor) %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="pagamento_template">
<header>Pagamento</header>
<div id="region-categoria"/>
<div data-attribute="vencimento" class="coi-view-text" data-label="Data de Vencimento:" data-required="true"/>
<div data-attribute="descricao" class="coi-view-text" data-label="Descrição:" data-required="true"/>
<div data-attribute="valor" class="coi-view-text" data-label="Valor:" data-required="true"/>
<div id="projecao">
	<div data-attribute="projecao" class="coi-view-text" data-label="Projeção:" data-required="true"/>
</div>
<dl class="coi-form-item">
	<dt>Tipo:</dt>
	<dd>
		<select id="tipo" name="tipo">
			<option>Saída</option>
			<option>Entrada</option>
		</select>
	<dd>
</dl>
<dl class="coi-form-item">
	<dt>Situação:</dt>
	<dd>
		<select id="situacao" name="situacao">
			<option>Pendente</option>
			<option>Pago</option>
		</select>
	<dd>
</dl>
<div id="pagamento">
	<div data-attribute="pagamento" class="coi-view-text" data-label="Data de Pagamento:"/>
	<dl class="coi-form-item">
		<dt>Forma de Pagamento:</dt>
		<dd>
			<select id="formaPagamento" name="formaPagamento">
				<option/>
				<option>Dinheiro</option>
				<option>Parcelado</option>
				<option>Cheque</option>
				<option>Crédito</option>
				<option>Débito</option>
				<option>Débito Automático</option>
			</select>
		<dd>
	</dl>
	<div id="cheque">
		<div data-attribute="banco" class="coi-view-text" data-label="Banco:"/>
		<div data-attribute="agencia" class="coi-view-text" data-label="Agência:"/>
		<div data-attribute="conta" class="coi-view-text" data-label="Conta:"/>
		<div data-attribute="cheque" class="coi-view-text" data-label="Cheque:"/>
	</div>
</div>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="pagamento_categoria_item_template">
<dl class="coi-form-item">
	<dt><%= label %></dt>
	<dd>
		<select name="<%= name %>">
			<option/>
			<% _.each(elementos, function(elemento) { %>
			<option><%= elemento %></option>
			<%}); %>
		</select>
	<dd>
</dl>
	</script>
	<script type="text/template" id="pagamento_categoria_row_template">
<td><%= descricao %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="pagamento_categoria_template">
<header>Categoria de Pagamento</header>
<div data-attribute="descricao" class="coi-view-text" data-label="Descrição:" data-required="true"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="fechamento_row_template">
<td style="text-align: center"><%= timestampConverter('ModelToView', data) %></td>
<td style="text-align: center"><%= moneyConverter('ModelToView', total) %></td>
<td style="text-align: center">
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="fechamento_template">
<header>Fechamento de Caixa</header>
<div data-attribute="data" class="coi-view-text" data-label="Data:" data-required="true"/>
<div data-attribute="valorDinheiro" class="coi-view-text" data-label="Dinheiro:" data-required="true"/>
<div data-attribute="valorCartao" class="coi-view-text" data-label="Cartão:" data-required="true"/>
<div data-attribute="valorCheque" class="coi-view-text" data-label="Cheque:" data-required="true"/>
<div id="saidas"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="fechamento_saidas_template">
<dt>Saídas:</dt>
<dd>
	<button class="coi-action-include">Adicionar</button>
	<table/>
</dd>
	</script>
	<script type="text/template" id="fechamento_saidas_row_template">
<td class="coi-row-item">
	<input type="text" name="descricao" placeholder=" descrição"/>
</td>
<td class="coi-row-item">
	<input type="text" name="valor" placeholder=" valor"/>
</td>
<td class="coi-row-item">
	<button class="coi-action-remove">Remover</button>
</td>
	</script>
</head>
<body>
</body>
</html>