<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Centro Ortopédico Ingá</title>
	<link rel="stylesheet" href="/themes/base/jquery.ui.all.css"/>
	<link rel="stylesheet" href="/themes/smoothness/jquery-ui.css"/>
	<link rel="stylesheet" href="/css/global.css"/>
	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/js/ui/jquery-ui.js"></script>
	<script type="text/javascript" src="/js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="/js/noty/layouts/top.js"></script>
	<script type="text/javascript" src="/js/noty/layouts/center.js"></script>
	<script type="text/javascript" src="/js/noty/themes/default.js"></script>
	<script type="text/javascript" src="/js/underscore.js"></script>
	<script type="text/javascript" src="/js/backbone.js"></script>
	<script type="text/javascript" src="/js/backbone.marionette.js"></script>
	<script type="text/javascript" src="/js/Backbone.ModelBinder.js"></script>
	<script type="text/javascript" src="/js/backbone.paginator.js"></script>
	<script type="text/javascript" src="/js/deep-model.js"></script>
	<script type="text/javascript" src="/js/autoNumeric.js"></script>
	<script type="text/javascript" src="/js/jquery.fileupload.js"></script>
	<script type="text/javascript" src="/js/coi-utils.js"></script>
	<script type="text/javascript" src="/js/coi.js"></script>
	<script type="text/javascript" src="/js/coi-categorias.js"></script>
	<script type="text/javascript" src="/js/coi-categoria.js"></script>
	<script type="text/javascript" src="/js/coi-pessoas.js"></script>
	<script type="text/javascript" src="/js/coi-pessoa.js"></script>
	<script type="text/javascript" src="/js/coi-entradas.js"></script>
	<script type="text/javascript" src="/js/coi-entrada.js"></script>
	<script type="text/javascript" src="/js/coi-cheques.js"></script>
	<script type="text/javascript" src="/js/coi-cheque.js"></script>
	<script type="text/javascript" src="/js/coi-laudos.js"></script>
	<script type="text/javascript" src="/js/coi-laudo.js"></script>
	<script type="text/javascript" src="/js/coi-estoque.js"></script>
	<script type="text/javascript" src="/js/coi-movimento.js"></script>
	<script type="text/javascript" src="/js/coi-start.js"></script>
	
	<script type="text/template" id="coi_view_text_template">
<dt><%= label %></dt>
<dd><input type="text" name="<%= name %>"/></dd>
	</script>
	<script type="text/template" id="coi_view_textarea_template">
<dt><%= label %></dt>
<dd><textarea name="<%= name %>"></textarea></dd>
	</script>
	<script type="text/template" id="coi_grid_view_template">
<header><%= header %></header>
<div class="coi-paginator">
	<input type="text" class="coi-input-search"/>
	<button class="coi-action-search">Pesquisar</button>
	<button class="coi-action-clear">Limpar</button>
	<button class="coi-action-prev">Anterior</button>
	<button class="coi-action-prox">Próxima</button>
</div>
<table>
	<thead>
		<tr>
			<% _.each(columns, function(column) { %>
			<th><%= column %></th>
			<% }) %>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
<footer>
	<button class="coi-action-cancel">Voltar</button>
	<button class="coi-action-create">Adicionar</button>
</footer>
	</script>
	<script type="text/template" id="coi_view_pessoa_template">
<div class="coi-view-pessoa">
	<dl class="coi-form-item">
		<dt><%= label %></dt>
		<dd>
			<input type="text" name="nome" class="coi-view-pessoa-nome"/>
		</dd>
	</dl>
</div>
<div class="coi-view-pessoa-new coi-form-item">
	<header>Novo <%= label %></header>
	<dl class="coi-form-item">
		<dt>Código:</dt>
		<dd>
			<input type="text" name="codigo" class="coi-view-pessoa-new-codigo"/>
		</dd>
	</dl>
	<dl class="coi-form-item">
		<dt>Nome:</dt>
		<dd>
			<input type="text" name="nome" class="coi-view-pessoa-new-nome"/>
		</dd>
	</dl>
	<div>
		<button class="coi-action-cancel">Cancelar</button>
	</div>
</div>
	</script>
	
	<script type="text/template" id="index_template">
<button id="categorias">Categorias</button>
<button id="pessoas">Pessoas</button>
<button id="entradas">Entradas</button>
<button id="cheques">Cheques</button>
<button id="laudos">Laudos</button>
<button id="estoque">Estoque</button>
	</script>
	<script type="text/template" id="categoria_row_template">
<td><%= descricao %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="categoria_template">
<header>Categoria</header>
<div class="coi-view-text" data-label="Descrição:" data-attribute="descricao" data-required="true"/>
<div id="produtos"/>
<div id="comissoes"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="categoria_produtos_template">
<dt>Produtos:</dt>
<dd>
	<table>
		<thead>
			<tr>
				<th>Código</th>
				<th>Descrição</th>
				<th>Custo</th>
				<th>Preço</th>
				<th>Ações</th>
			<tr>
		</thead>
		<tbody/>
	</table>
</dd>
	</script>
	<script type="text/template" id="categoria_comissoes_template">
<dt>Comissões:</dt>
<dd>
	<input type="text" id="parte"/>
	<button class="coi-action-include">Adicionar</button>
	<table/>
</dd>
	</script>
	<script type="text/template" id="categoria_comissao_template">
<td class="coi-row-label"><%= parte %>:</td>
<td class="coi-row-item">
	<input type="text" name="descricao" placeholder=" descrição"/>
</td>
<td class="coi-row-item">
	<input type="text" name="porcentagem" placeholder=" porcentagem"/>
</td>
	</script>
	<script type="text/template" id="categoria_produtos_row_template">
<td><%= codigo %></td>
<td><%= descricao %></td>
<td><%= decimalConverter('ModelToView', custo) %></td>
<td><%= decimalConverter('ModelToView', preco) %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="categoria_produto_template">
<div class="coi-view-text" data-attribute="codigo" data-label="Código:" data-required="true"/>
<div class="coi-view-text" data-attribute="descricao" data-label="Descrição:" data-required="true"/>
<div class="coi-view-text" data-attribute="custo" data-label="Custo:" data-required="true"/>
<div class="coi-view-text" data-attribute="preco" data-label="Preço:" data-required="true"/>
<dl class="coi-form-item">
	<dt>Estocável</dt>
	<dd>
		<input type="checkbox" name="estocavel" />
	<dd>
</dl>
	</script>
	<script type="text/template" id="pessoas_import_template">
<style>
.bar {
    height: 18px;
    background: green;
}
</style>
<input id="file" type="file" name="file">
<div id="files"/>
<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>
	</script>
	<script type="text/template" id="pessoa_row_template">
<td><%= nome %></td>
<td><%= codigo %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="pessoa_template">
<header>Pessoa</header>
<div class="coi-view-text" data-attribute="codigo" data-label="Código:" data-required="true"/>
<div class="coi-view-text" data-attribute="nome" data-label="Nome:" data-required="true"/>
<div id="partes"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="pessoa_partes_template">
<dt>Partes:</dt>
<dd>
	<select>
		<% _.each(partes_list, function(parte) { %>
		<option><%= parte %></option>
		<%}); %>
	</select>
	<button class="coi-action-include">Adicionar</button>
</dd>
<table/>
	</script>
	<script type="text/template" id="pessoa_parte_template">
<td class="coi-row-item"><%= descricao %></td>
<td class="coi-row-item">
	<button class="coi-action-remove">Remover</button>
</td>
	</script>
	<script type="text/template" id="entrada_row_template">
<td><%= data %></td>
<td><%= cliente %></td>
<td><%= decimalConverter('ModelToView', valor) %></td>
<td><%= tipo %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="entrada_template">
<header>Entrada</header>
<div class="coi-view-text" data-attribute="data" data-label="Data:" data-required="true"/>
<div id="paciente"/>
<div id="produtos"/>
<div id="partes"/>
<class class="coi-view-text" data-attribute="valor" data-label="Valor:" data-required="true"/>
<div id="meio-pagamento"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="entrada_meio_pagamento_template">
<dl class="coi-form-item">
	<dt><%= label %></dt>
	<dd>
		<select name="<%= name %>">
			<option/>
			<% _.each(tipos_list, function(tipo) { %>
			<option><%= tipo %></option>
			<%}); %>
		</select>
	<dd>
</dl>
<dl class="coi-form-item">
	<dd>
		<button class="coi-action-create">Adicionar</button>
	</dd>
</dl>
<div id="cheques"/>
	</script>
	<script type="text/template" id="entrada_meio_pagamento_cheque_template">
<header>Novo Cheque</header>
<div data-attribute="numero" class="coi-view-text" data-label="Numero:" data-required="true"/>
<div data-attribute="conta" class="coi-view-text" data-label="Conta:" data-required="true"/>
<div data-attribute="agencia" class="coi-view-text" data-label="Agência:" data-required="true"/>
<div data-attribute="banco" class="coi-view-text" data-label="Banco:" data-required="true"/>
<div data-attribute="documento" class="coi-view-text" data-label="CPF/CNPJ:" data-required="true"/>
<div data-attribute="valor" class="coi-view-text" data-label="Valor:" data-required="true"/>
<div data-attribute="dataDeposito" class="coi-view-text" data-label="Data:" data-required="true"/>
<div data-attribute="observacao" class="coi-view-textarea" data-label="Observação:"/>
<div id="emissor"/>
<div>
	<button class="coi-action-remove">Remover</button>
</div>
	</script>
	<script type="text/template" id="entrada_produtos_template">
<dt><%= label %></dt>
<dd>
	<input type="text" class="coi-view-produto"/>
	<button class="coi-action-include">Adicionar</button>
</dd>
<table>
	<thead>
		<tr>
			<th>Código</th>
			<th>Descrição</th>
			<th>Preço</th>
			<th>Quantidade</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
	</script>
	<script type="text/template" id="entrada_produto_template">
<td class="coi-row-item"><%= codigo %></td>
<td class="coi-row-item"><%= descricao %></td>
<td class="coi-row-item"><%= decimalConverter('ModelToView', preco) %></td>
<td class="coi-row-item"><input type="text" name="quantidade"/></td>
<td class="coi-row-item">
	<button class="coi-action-remove">Remover</button>
</td>
	</script>
	<script type="text/template" id="entrada_partes_template">
<dl class="coi-form-item">
	<dt>Partes:</dt>
	<dd>
		<input type="text" id="parte"/>
		<button class="coi-action-include">Adicionar</button>
	</dd>
</dl>
<div id="partes-itens" class="coi-form-item"/>
	</script>
	<script type="text/template" id="entrada_parte_template">
<dl class="coi-form-item">
	<dt><%= parte %>:</dt>
	<dd>
		<input type="text" class="coi-view-text" name="descricao" placeholder=" descrição"/>
	</dd>
</dl>
<div class="coi-view-pessoa"/>
<dl class="coi-form-item">
	<dd>
		<button class="coi-action-remove">Remover</button>
	</dd>
</dl>
	</script>
	<script type="text/template" id="cheque_row_template">
<td><%= paciente %></td>
<td><%= data %></td>
<td><%= decimalConverter('ModelToView', valor) %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="cheque_template">
<header>Cheque</header>
<div data-attribute="numero" class="coi-view-text" data-label="Numero:" data-required="true"/>
<div data-attribute="conta" class="coi-view-text" data-label="Conta:" data-required="true"/>
<div data-attribute="agencia" class="coi-view-text" data-label="Agência:" data-required="true"/>
<div data-attribute="banco" class="coi-view-text" data-label="Banco:" data-required="true"/>
<div data-attribute="documento" class="coi-view-text" data-label="CPF/CNPJ:" data-required="true"/>
<div data-attribute="valor" class="coi-view-text" data-label="Valor:" data-required="true"/>
<div data-attribute="dataDeposito" class="coi-view-text" data-label="Data:" data-required="true"/>
<div data-attribute="observacao" class="coi-view-textarea" data-label="Observação:"/>
<div id="emissor"/>
<div id="beneficiario"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="laudo_row_template">
<td><%= paciente %></td>
<td><%= data %></td>
<td><%= status %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
	<button class="coi-action-print">Imprimir</button>
</td>
	</script>
	<script type="text/template" id="laudo_template">
<header>Laudo</header>
<div data-attribute="data" class="coi-view-text" data-label="Data:" data-required="true"/>
<div id="medico"/>
<div id="paciente"/>
<dl class="coi-form-item">
	<dt>Status Hormonal:</dt>
	<dd>
		<select name="status">
			<option/>
			<option>Pré-Menopausal</option>
			<option>Pós-Menopausal</option>
			<option>Transição Menopausal</option>
		</select>
	<dd>
</dl>
<dl class="coi-form-item">
	<dt>Sexo:</dt>
	<dd>
		<select name="sexo">
			<option/>
			<option>Feminino</option>
			<option>Masculino</option>
		</select>
	<dd>
</dl>
<div data-attribute="dataNascimento" class="coi-view-text" data-label="Data de Nascimento:" data-required="true"/>
<div id="exame"/>
<dl class="coi-form-item">
	<dt>Conclusão:</dt>
	<dd>
		<select name="conclusao">
			<option/>
			<option value="Normal">1 - Normal</option>
			<option value="Osteopenia">2 - Osteopenia</option>
			<option value="Osteoporose">3 - Osteoporose</option>
			<option value="Dentro do eperado para a idade">4 - Dentro do eperado para a idade</option>
			<option value="Baixa densidade óssea para a idade">5 - Baixa densidade óssea para a idade</option>
		</select>
	<dd>
</dl>
<dl class="coi-form-item">
	<dt>Observações:</dt>
	<dd>
		<select id="observacoes">
			<option/>
<option data-code="1" data-value="Presença de alterações estruturais na coluna lombar que podem superestimar a real densidade óssea vertebral">
	1 - Presença de alterações estruturais...</option>
<option data-code="2" data-value="À critério clínico, sugerimos estudo radiográfico da coluna lombar para avaliar fraturas ou alterações degenerativas, devido à diferença de densidade mineral óssea observada entre ({}). Na presença de fraturas vertebrais, considerar o diagnóstico de osteoporose, independente dos valores da densitometria">
	2 - À critério clínico, sugerimos estudo radiográfico...</option> 
<option data-code="3" data-value="Devido à presença de alterações estruturais na coluna lombar procedemos a análise no antebraço">
	3 - Devido à presença de alterações estruturais...</option>
<option data-code="4" data-value="Presença de artefato ao nível de {}">
	4 - Presença de artefato ao nível de...</option>
<option data-code="5" data-value="Presença de vértebra de transição (VT)">
	5 - Presença de vértebra de transição...</option>
<option data-code="6" data-value="Devido dificuldade de rotação do quadril ou presença de material cirúrgico, não foi possível análise válida do fêmur direito. Por esse motivo, procedemos a análise de fêmur esquerdo">
	6 - Devido dificuldade de rotação do quadril... fêmur direito...</option>
<option data-code="7" data-value="Devido dificuldade de rotação do quadril ou presença de material cirúrgico, não foi possível análise válida de fêmur, tanto a direita quanto a esquerda">
	7 - Devido dificuldade de rotação do quadril... ambos...</option>
<option data-code="8" data-value="Sugerimos densitometria óssea de antebraço (Radio 33%)">
	8 - Sugerimos densitometria óssea...</option>
<option data-code="9" data-value="Presença de alterações estruturais no quadril que podem superestimar a real densidade óssea do fêmur">
	9 - Presença de alterações estruturais...</option>
<option data-code="10" data-value="Sugerimos afastar causa secundária de baixa densidade óssea para a idade">
	10 - Sugerimos afastar causa secundária... baixa densidade...</option>
<option data-code="11" data-value="Sugerimos afastar causa secundária de osteoporose (Z-score <= -2)">
	11 - Sugerimos afastar causa secundária... osteoporose...</option>
		</select>
		<button id="adicionar-observacao" class="coi-action-include">Incluir</button>
		<table id="observacoes-list"/>
	<dd>
</dl>
<dl class="coi-form-item">
	<dt>Comparação com exames anteriores:</dt>
	<dd>
		<select id="comparacoes">
			<option/>
<option data-code="1" data-value="Não há exames anteriores neste serviço para comparação">
	1 - Não há exames anteriores...</option>
<option data-code="2" data-value="Comparação com densitometria óssea de {}:
Coluna lombar (L1-L4) - é utilizado a DMO
Fêmur total - é utilizado a DMO
* Não compara-se radio 33% ou colo de fêmur">
	2 - Comparação com densitometria óssea de...</option>
<option data-code="3" data-value="Massa óssea mantida na coluna lombar">
	A - Massa óssea mantida na coluna lombar</option>
<option data-code="4" data-value="Massa óssea mantida no fêmur total">
	B - Massa óssea mantida no fêmur total</option>
<option data-code="5" data-value="Perda de densidade óssea de {} ± 2% na coluna lombar">
	C - Perda de densidade óssea ± 2%</option>
<option data-code="6" data-value="Perda de densidade óssea de {} ± 3% no fêmur total">
	D - Perda de densidade óssea ± 3%</option>
<option data-code="7" data-value="Ganho de densidade óssea de {} ± 2% na coluna lombar">
	E - Ganho de densidade óssea ± 2%</option>
<option data-code="8" data-value="Ganho de densidade óssea de {} ± 3% no fêmur total">
	F - Ganho de densidade óssea ± 3%</option>
<option data-code="9" data-value="Sugerimos não utilizar a coluna lombar para diagnóstico, classificação de risco de fraturas ou monitorização terapêutica, devido à presença de alterações vertebrais">
	3 - Sugerimos não utilizar a coluna lombar...</option>
<option data-code="10" data-value="Sugerimos não utilizar o fêmur proximal para diagnóstico, classificação de risco de fraturas ou monitorização terapêutica, devido à presença alterações estruturais"> 
	4 - Sugerimos não utilizar o fêmur...</option> 
<option data-code="11" data-value="Sugerimos utilizar o segmento {} para diagnóstico, classificação de risco de fraturas e monitorização terapêutica, devido à presença de alterações nas outras vértebras analisadas">
	5 - Sugerimos utilizar o segmento...</option>
<option data-code="12" data-value="À critério clínico, sugere-se controle com densitometria em {} meses">
	6 - À critério clínico, sugere-se controle...</otion>
		</select>
		<button id="adicionar-comparacao" class="coi-action-include">Incluir</button>
		<table id="comparacoes-list"/>
	<dd>
</dl>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="exame_pos_menopausa_template">
<dl class="coi-form-item">
	<dt>Exame:</dt>
	<dd>
		<table>
			<thead>
				<tr>
					<th width="50%">Local</th>
					<th>Densidade</th>
					<th>T-score</th>
					<th>Z-score</th>
				</tr>
			</thead>
			<tbody>
				<tr class="coi-cell-item">
					<td>
						<span>Coluna Lombar</span>
						<div>
							<label><input type="checkbox" name="colunaLombarL1"> T1</label>
							<label><input type="checkbox" name="colunaLombarL2"> T2</label>
							<label><input type="checkbox" name="colunaLombarL3"> T3</label>
							<label><input type="checkbox" name="colunaLombarL4"> T4</label>
						</div>
					</td>
					<td><input type="text" name="colunaLombarDensidade"/></td>
					<td><input type="text" name="colunaLombarTScore"/></td>
					<td><input type="text" name="colunaLombarZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Colo Fêmur</td>
					<td><input type="text" name="coloFemurDensidade"/></td>
					<td><input type="text" name="coloFemurTScore"/></td>
					<td><input type="text" name="coloFemurZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Fêmur Total</td>
					<td><input type="text" name="femurTotalDensidade"/></td>
					<td><input type="text" name="femurTotalTScore"/></td>
					<td><input type="text" name="femurTotalZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Rádio 33%</td>
					<td><input type="text" name="radioTercoDensidade"/></td>
					<td><input type="text" name="radioTercoTScore"/></td>
					<td><input type="text" name="radioTercoZScore"/></td>
				</tr>
			</tbody>
		</table>
	<dd>
</dl>
	</script>
	<script type="text/template" id="exame_pre_menopausa_template">
<dl class="coi-form-item">
	<dt>Exame:</dt>
	<dd>
		<table>
			<thead>
				<tr>
					<th width="60%">Local</th>
					<th>Densidade</th>
					<th>Z-score</th>
				</tr>
			</thead>
			<tbody>
				<tr class="coi-cell-item">
					<td>
						<span>Coluna Lombar</span>
						<div>
							<label><input type="checkbox" name="colunaLombarL1"> T1</label>
							<label><input type="checkbox" name="colunaLombarL2"> T2</label>
							<label><input type="checkbox" name="colunaLombarL3"> T3</label>
							<label><input type="checkbox" name="colunaLombarL4"> T4</label>
						</div>
					</td>
					<td><input type="text" name="colunaLombarDensidade"/></td>
					<td><input type="text" name="colunaLombarZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Colo Fêmur</td>
					<td><input type="text" name="coloFemurDensidade"/></td>
					<td><input type="text" name="coloFemurZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Fêmur Total</td>
					<td><input type="text" name="femurTotalDensidade"/></td>
					<td><input type="text" name="femurTotalZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Rádio 33%</td>
					<td><input type="text" name="radioTercoDensidade"/></td>
					<td><input type="text" name="radioTercoZScore"/></td>
				</tr>
				<tr class="coi-cell-item">
					<td>Corpo Inteiro</td>
					<td><input type="text" name="corpoInteiroDensidade"/></td>
					<td><input type="text" name="corpoInteiroZScore"/></td>
				</tr>
			</tbody>
		</table>
	<dd>
</dl>
	</script>
	<script type="text/template" id="estoque_row_template">
<td><%= data %></td>
<td><%= tipo %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="movimento_template">
<header>Movimento</header>
<dl class="coi-form-item">
	<dt>Tipo:</dt>
	<dd>
		<select id="tipo" name="tipo">
			<option/>
			<option>Entrada</option>
			<option>Baixa</option>
		</select>
	<dd>
</dl>
<div class="coi-view-text" data-attribute="data" data-label="Data:" data-required="true"/>
<div id="produtos"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="movimento_produtos_template">
<dt><%= label %></dt>
<dd>
	<input type="text" class="coi-view-produto"/>
	<button class="coi-action-include">Adicionar</button>
</dd>
<table>
	<thead>
		<tr>
			<th>Código</th>
			<th>Descrição</th>
			<th>Quantidade</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
	</script>
	<script type="text/template" id="movimento_produto_template">
<td class="coi-row-item"><%= codigo %></td>
<td class="coi-row-item"><%= descricao %></td>
<td class="coi-row-item"><input type="text" name="quantidade"/></td>
<td class="coi-row-item">
	<button class="coi-action-remove">Remover</button>
</td>
	</script>
</head>
<body>
</body>
</html>