<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Centro Ortopédico Ingá</title>
	<link rel="stylesheet" href="/themes/base/jquery.ui.all.css"/>
	<link rel="stylesheet" href="/themes/smoothness/jquery-ui.css"/>
	<link rel="stylesheet" href="/css/global.css"/>
	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/js/ui/jquery-ui.js"></script>
	<script type="text/javascript" src="/js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="/js/noty/layouts/top.js"></script>
	<script type="text/javascript" src="/js/noty/layouts/center.js"></script>
	<script type="text/javascript" src="/js/noty/themes/default.js"></script>
	<script type="text/javascript" src="/js/underscore.js"></script>
	<script type="text/javascript" src="/js/backbone.js"></script>
	<script type="text/javascript" src="/js/backbone.marionette.js"></script>
	<script type="text/javascript" src="/js/Backbone.ModelBinder.js"></script>
	<script type="text/javascript" src="/js/backbone.paginator.js"></script>
	<script type="text/javascript" src="/js/autoNumeric.js"></script>
	<script type="text/javascript" src="/js/jquery.fileupload.js"></script>
	<script type="text/javascript" src="/js/coi-utils.js"></script>
	<script type="text/javascript" src="/js/coi.js"></script>
	<script type="text/javascript" src="/js/coi-categorias.js"></script>
	<script type="text/javascript" src="/js/coi-categoria.js"></script>
	<script type="text/javascript" src="/js/coi-pessoas.js"></script>
	<script type="text/javascript" src="/js/coi-pessoa.js"></script>
	<script type="text/javascript" src="/js/coi-entradas.js"></script>
	<script type="text/javascript" src="/js/coi-entrada.js"></script>
	<script type="text/javascript" src="/js/coi-cheques.js"></script>
	<script type="text/javascript" src="/js/coi-cheque.js"></script>
	<script type="text/javascript" src="/js/coi-start.js"></script>
	<script type="text/template" id="index_template">
<button id="categorias">Categorias</button>
<button id="pessoas">Pessoas</button>
<button id="entradas">Entradas</button>
<button id="cheques">Cheques</button>
	</script>
	<script type="text/template" id="categorias_template">
<header>Categorias</header>
<table id="categorias">
	<thead>
		<tr>
			<th>Descrição</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
<footer>
	<button class="coi-action-cancel">Voltar</button>
	<button class="coi-action-create">Adicionar</button>
</footer>
	</script>
	<script type="text/template" id="categoria_row_template">
<td><%= descricao %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="categoria_template">
<header>Categoria</header>
<input type="text" name="descricao" class="coi-validation-required" data-label="Descrição:"/>
<div class="coi-form-item" id="produtos"/>
<div class="coi-form-item" id="comissoes"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="categoria_produtos_template">
<label>Produtos:</label>
<table>
	<thead>
		<tr>
			<th>Código</th>
			<th>Descrição</th>
			<th>Custo</th>
			<th>Preço</th>
			<th>Ações</th>
		<tr>
	</thead>
	<tbody/>
</table>
	</script>
	<script type="text/template" id="categoria_comissoes_template">
<label>Comissões:</label>
<table/>
	</script>
	<script type="text/template" id="categoria_comissao_template">
<td class="coi-row-label"><%= parte %>:</td>
<td class="coi-row-item">
	<input type="text" class="coi-format-percentage" name="porcentagem"/>
</td>
	</script>
	<script type="text/template" id="categoria_produtos_row_template">
<td><%= codigo %></td>
<td><%= descricao %></td>
<td class="coi-format-decimal"><%= custo %></td>
<td class="coi-format-decimal"><%= preco %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="categoria_produto_template">
<input id="codigo-produto" type="text" class="coi-validation-required" name="codigo" data-label="Código:"/>
<input id="descricao-produto" type="text" class="coi-validation-required" name="descricao" data-label="Descrição:"/>
<input id="custo-produto" class="coi-format-money coi-validation-required" type="text" name="custo" data-label="Custo:"/>
<input id="preco-produto" class="coi-format-money coi-validation-required" type="text" name="preco" data-label="Preço:"/>
	</script>
	<script type="text/template" id="pessoas_template">
<header>Pessoas</header>
<div class="coi-paginator">
	<input type="text" class="coi-input-search"/>
	<button class="coi-action-search">Pesquisar</button>
	<button class="coi-action-clear">Limpar</button>
	<button class="coi-action-prev">Anterior</button>
	<button class="coi-action-prox">Próxima</button>
</div>
<table id="pessoas">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Código</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
<footer>
	<button class="coi-action-cancel">Voltar</button>
	<button class="coi-action-create">Adicionar</button>
	<button class="coi-action-import">Importar</button>
</footer>
	</script>
	<script type="text/template" id="pessoas_import_template">
<style>
.bar {
    height: 18px;
    background: green;
}
</style>
<input id="file" type="file" name="file">
<div id="files"/>
<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>
	</script>
	<script type="text/template" id="pessoa_row_template">
<td><%= nome %></td>
<td><%= codigo %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="pessoa_template">
<header>Pessoa</header>
<input type="text" name="codigo" class="coi-validation-required" data-label="Código:"/>
<input type="text" name="nome" class="coi-validation-required" data-label="Nome:"/>
<div class="coi-form-item" id="partes"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="pessoa_partes_template">
<label>Partes:</label>
<div class="coi-form-item">
	<select id="parte">
		<% _.each(partes_list, function(parte) { %>
		<option><%= parte %></option>
		<%}); %>
	</select>
	<button class="coi-action-include">Adicionar</button>
</div>
<table/>
	</script>
	<script type="text/template" id="pessoa_parte_template">
<td class="coi-row-item"><%= descricao %></td>
<td class="coi-row-item">
	<button class="coi-action-remove">Remover</button>
</td>
	</script>
	<script type="text/template" id="entradas_template">
<header>Entradas</header>
<table>
	<thead>
		<tr>
			<th>Data</th>
			<th>Cliente</th>
			<th>Valor</th>
			<th>Tipo</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
<footer>
	<button class="coi-action-cancel">Voltar</button>
	<button class="coi-action-create">Adicionar</button>
</footer>
	</script>
	<script type="text/template" id="entrada_row_template">
<td class="coi-format-date"><%= data %></td>
<td><%= cliente %></td>
<td class="coi-format-decimal"><%= valor %></td>
<td><%= tipo %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="entrada_template">
<header>Entrada</header>
<input type="text" name="data" class="coi-validation-required coi-format-date" data-label="Data:"/>
<input type="text" id="paciente" class="coi-validation-required" data-label="Paciente:"/>
<input type="text" name="valor" class="coi-validation-required coi-format-money" data-label="Valor:"/>
<select name="tipo" data-label="Meio de Pagamento:">
	<option/>
	<% _.each(tipos_list, function(tipo) { %>
	<option><%= tipo %></option>
	<%}); %>
</select>
<div class="coi-form-item" id="produtos"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
	<script type="text/template" id="entrada_produtos_template">
<label>Produtos:</label>
<div class="coi-form-item">
	<input type="text" id="produto" class=""/>
	<button class="coi-action-include">Adicionar</button>
</div>
<table>
	<thead>
		<tr>
			<th>Código</th>
			<th>Descrição</th>
			<th>Preço</th>
			<th>Quantidade</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
	</script>
	<script type="text/template" id="entrada_produto_template">
<td class="coi-row-item"><%= codigo %></td>
<td class="coi-row-item"><%= descricao %></td>
<td class="coi-row-item coi-format-decimal"><%= preco %></td>
<td class="coi-row-item"><input type="text" name="quantidade"/></td>
<td class="coi-row-item">
	<button class="coi-action-remove">Remover</button>
</td>
	</script>
	<script type="text/template" id="cheques_template">
<header>Cheques</header>
<table>
	<thead>
		<tr>
			<th>Paciente</th>
			<th>Data</th>
			<th>Valor</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody/>
</table>
<footer>
	<button class="coi-action-cancel">Voltar</button>
	<button class="coi-action-create">Adicionar</button>
</footer>
	</script>
	<script type="text/template" id="cheque_row_template">
<td><%= paciente %></td>
<td class="coi-format-date"><%= data %></td>
<td class="coi-format-decimal"><%= valor %></td>
<td>
	<button class="coi-action-update">Editar</button>
	<button class="coi-action-delete">Remover</button>
</td>
	</script>
	<script type="text/template" id="cheque_template">
<header>Cheque</header>
<input type="text" name="numero" class="coi-validation-required" data-label="Numero:"/>
<input type="text" name="conta" class="coi-validation-required" data-label="Conta:"/>
<input type="text" name="agencia" class="coi-validation-required" data-label="Agência:"/>
<input type="text" name="banco" class="coi-validation-required" data-label="Banco:"/>
<input type="text" name="documento" class="coi-validation-required" data-label="CPF/CNPJ:"/>
<input type="text" name="valor" class="coi-validation-required coi-format-money" data-label="Valor:"/>
<input type="text" name="dataDeposito" class="coi-validation-required coi-format-date" data-label="Data:"/>
<textarea name="observacao" class="" data-label="Observação:"/>
<input type="text" id="cliente" class="coi-validation-required" data-label="Cliente:"/>
<input type="text" id="paciente" class="coi-validation-required" data-label="Paciente:"/>
<footer>
	<button class="coi-action-cancel">Cancelar</button>
	<button class="coi-action-confirm">Confirmar</button>
</footer>
	</script>
</head>
<body>
</body>
</html>