@CHARSET "UTF-8";

body {
	background: url("images/stripe.png");
}

input[type=text].ui-button {
	text-align: left;
}

.coi-form {
	width: 750px;
	margin: 0 auto;
	position: relative;
}

.coi-form > .ui-dialog-titlebar {
    padding: .7em;
}

.coi-form > .ui-dialog-buttonpane {
    padding: .3em;
    text-align: right;
}

.coi-form-item {
	margin: 15px;
}

.coi-form-item > dt {
	margin-bottom: 6px;
}

.coi-form-item > dt > label {
    font-weight: bold;
}

.coi-form-item > dd {
	margin: 0;
}

.coi-form-item input[type=text] {
	width: 400px;
}

th.ui-widget-header {
	padding: .4em;
}

.coi-row-label {
	text-align: right;
}

.coi-row-item input[type=text] {
	width: 200px;
}

.coi-form-item input[type=text].invalid {
	border: 2px solid red;
}

.ui-tooltip.error {
	color: red;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.coi-action-cancel, 
.coi-action-create, 
.coi-action-update, 
.coi-action-delete, 
.coi-action-confirm, 
.coi-action-include {
	
}

.coi-validation-invalid,
.coi-validation-required {
	
}

.coi-format-money,
.coi-format-decimal,
.coi-format-percentage {
	
}