@CHARSET "UTF-8";

body {
	background: url("images/stripe.png");
}

input[type=text].ui-button {
	text-align: left;
}

.coi-form {
	width: 750px;
	margin: 0 auto;
	position: relative;
	overflow: visible;
}

.coi-form > .ui-dialog-titlebar {
    padding: .7em;
}

.coi-form > .ui-dialog-buttonpane {
    padding: .3em;
    text-align: right;
}

.coi-form-item {
	margin: 15px;
}

.coi-form-item > dt {
	margin-bottom: 6px;
}

.coi-form-item > dt > label {
    font-weight: bold;
}

.coi-form-item > dd {
	margin: 0;
}

.coi-form-item input[type=text],
.coi-form-item textarea {
	width: 400px;
}

th.ui-widget-header {
	padding: .4em;
}

.coi-row-label {
	text-align: right;
}

.coi-row-item input[type=text] {
	width: 200px;
}

.coi-cell-item input[type=text] {
	width: 100px;
}

input[type=text].coi-short-text {
	width: 100px;
}

.coi-form-item input[type=text].coi-validation-invalid {
	background: url("images/error-stripe.png") repeat;
}

.ui-tooltip.coi-tooltip-error {
	color: red;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.coi-input-input {
	border: medium none;
    box-shadow: none;
}

.coi-input {
    display: inline-block;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: middle;
}

.coi-paginator {
	padding: 5px;
}

.coi-inline-input {
	text-align: center;
	border: 1px solid silver;
}

.coi-inline-short-text {
	width: 150px !important;	
}

.coi-inline-short-number, .coi-inline-percent {
	width: 80px !important;	
}

.coi-inline-date {
	width: 120px !important;	
}

.coi-action-cancel, 
.coi-action-create, 
.coi-action-update, 
.coi-action-delete, 
.coi-action-confirm, 
.coi-action-include,
.coi-action-remove {
	
}

.coi-validation-invalid,
.coi-validation-required {
	
}

.coi-format-money,
.coi-format-decimal,
.coi-format-percentage {
	
}